.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d0d0d;
  color: #fff;
  height: 100vh;
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #6a6a6a;
  border-radius: 10px;
  width: 90%;
  height: 80%;
}
